/* 외부 사스파일 호출하기 */ 
@import "variable", "reset", "mixin";

/* ****************** 레이아웃 설정 시작 ****************** */ 
#wrap{
  width: 100%; height: auto;

  #header{
    width: 100%;
    height: 60px;
    position: fixed; left: 0; top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
  }

  #intro{ height: 80vh;margin-top: 40px; }

  #about{
    height: 500px;
    background: url(../images/about-bg.jpg) no-repeat 50% 100% fixed;
    background-size: cover;
    position: relative;

    &::after{
      display: block;
      content:'';
      width: 100%;
      height: 100%;
      position: absolute; left: 0; top: 0;
      background-color: rgba(0,0,0, 0.3);
    }
  }

  #product{ height: auto; }

  #footer{ height: 340px; background-color:$bg-color5; color: $color1; }

  .container{ @include container-box(1170px, 100%, 84px); }
  .container-fluid{ @include container-box(100%, 100%, 0); }
}


/* ****************** 개별영역 설정 시작 ****************** */ 
/* ****** header Area Start ****** */ 
#header{
  .container{
    padding: 10px 0;

    // Logo
    h1{
      width: 150px;
      height: 40px;
      float: left;

      a{
        display: block;
        width: 100%;
        height: 100%;
        font: bold #{$fz4}/40px $ff1;
      }
    }
    // Gnb
    .gnb{
      width: 20%;
      height: 40px;
      float: right;

      li{
        float: left;
        height: 40px;
        margin: 0 $m10;

        a{
          display: block;
          padding: 0 5px;
          height: 100%;
          font: 400 #{$fz2}/40px $ff1;

          &:hover{ color: $color5 }
        }
      }
    }
   
  }
}
#header{
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

// 메뉴 활성화 클래스
.fixed{
  background-color: rgba(0, 0, 0, 0.5) !important;
  h1 a, .gnb a{
    color: $color1 !important;
  }
  .gnb a{
    &:hover{ color: #fc0 !important; }
  }
}

/* ****** intro Area Start ****** */ 
#intro{
  .container{
    padding: 0;
    position: relative;

    // text-box
    .text-box{
      @include box-center(50%, auto, 0, -50%);
      left: 0;
      text-align: left;
      border: 0;

      h2{
        font-size: $fz7;
        font-family: $ff3;
        margin-bottom: $mb40;
        line-height: 1;
      }

      p{ margin-bottom: $mb30; }

      a{
        @include btn-radius(150px, 50px,$fz2 ,25px, $bg-color2 );
        color: $color1;

        &:hover{
          background-color: lighten($bg-color2,25% );
        }
      }
    }
    // img-box
    .img-box{
      @include box-center(440px, 585px, 0, -50%);
      /* 포지션의 방향을 재설정할 경우 기존 값을 초기화해줘야 재설정한 방향으로 적용됩니다! 재설정 방법은 기존 값에 'auto' 설정 후 다시 포지션 방향을 지정! */ 
      left: auto; 
      right: 0;
      border: 0;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}


/* ****** about Area Start ****** */ 
#about{
  .container{
    color: $color1;
    text-align: center;
    position: relative;
    z-index: 10;

    .deco-text{
      font-size: $fz1;
      font-family: $ff1;
      font-weight: bold;
      margin-bottom: $mb30;
    }

    h2{
      font-size: $fz7;
      font-family: $ff1;
      margin-bottom: $mb40;
      line-height: 1.2;
    }
  }
}


/* ****** product Area Start ****** */ 
#product{
  .container-fluid{
    @include clear;

    >div{
      float: left;
      height: auto;

      &:nth-child(1){ 
        width: 40%;
       }
      &:nth-child(2){ 
        width: 40%;

        a{
          &:nth-child(2) img,
          &:nth-child(3) img{
            width: 50%;
            float: left;
          }
        }
       }
      &:nth-child(3){ 
        width: 20%;
       }

      img{ width: 100%;height: 100%; display: block; }
    }
  }
}


/* ****** footer Area Start ****** */ 
#footer{
  .container{
    @include clear;

    >div{ 
      width: 25%;
      height: auto;
      float: left;

      a{
        color: $color1;

        &:hover{ color: #fc0 }
      }

      h3{
        font-family: $ff1;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: $mb20;
      }

      li{
        margin-bottom: $mb10;
      }

      // SNS Group
      .sns-group{
        width: 100%;

        a{
          font-size: 30px;
          margin-bottom: $mb10;
          margin-right: $mb10;
          color: darken($color1, 50%);

          &:hover{ color: #fc0; }
        }
      }
      // Subscribe
      p{ margin-bottom: $mb20; }
      form{
        height: 50px;

        span,a{ display: block; float: left; height: 50px; }
        span{
          width: 80%;

          input{
            width: 100%;
            height: 100%;
            outline: none;
            border-radius: 25px 0 0 25px;
            text-indent: 10px;
            font-size: $fz2;
            opacity: 0.2;
            border: 0;
          }
        }

        a{
          width: 20%;
          border-radius: 0 25px 25px 0;
          background-color: $color1;
          text-align: center;
          line-height: 50px;
          color: $color3;
        }
      }
    }
  }
}
